<!-- views/checkout.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/styles.css">
        <title>LeeRoy's Pets N' More</title>
    </head>
    <body>

        <div>
	    <h1 class="centered-title">Checkout</h1>
	    <h2 class="centered-title">Here are the items in your cart.</h1>
	</div>


        <div class="navbar">
	    <span><a href="/">Home</a></span>
	    <span><a href="/product">Products</a></span>
	    <span><a href="/checkout">Checkout</a></span>
	</div>



      </body>
</html>
