<!-- views/checkout.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
		  <link rel="icon" type="image/x-icon" href="/images/favicon.png">        
		  <title>LeeRoy's Checkout</title>

        <style>
			.column.main {
				float: left;
				width: 25%;
				padding: 15px; 
				margin-top: 2%;
				height: 300px;
				text-align: center;
				border-radius: 25px;
				background-color: #fafafa;
				margin-left: 15%;
			}
			.column.side {
				float: right;
				width: 25%;
				padding: 15px; 
				margin-top: 2%;
				height: 300px;
				background-color: #fafafa;
				display: block;
				text-align: center;
				border-radius: 25px;
				margin-right: 15%;
			}
			.row::after {
				content: "";
				display: table;
				clear: both;
			}
			table, td {
				border: none;
				border-spacing: 25px;
				margin-left: 50px;
			}
			.button.purchase {
			  background-color: #7a211f; 
			  color: #fafafa;
			  padding: 15px 32px;
			  text-align: center;
			  display: inline-block;
			  font-size: 16px;
			  border-radius: 25px;
			  text-align: center;
			}
        </style>
    </head>
    <body>
		<center><div class="header" align: center></div></center>


      <div class="navbar">
        <span><a href="/">Home</a></span>
        <span><a href="/product">Products</a></span>
        <span><a href="/checkout">Checkout</a></span>
      </div>

      <div class="row">
			<div class="column main">
				<h3>Shopping Cart</h3>
					<div class="container">
					<!--<table class="Cart">  is table possible for this? <tr> <td>product</td>  getCart product description <td>$$$</td> getCart product price </tr> </table> -->
					<ul class="Cart">
					</ul>
					</div>
			</div>
				
     		<div class="column side">
      		<h3>Order Summary</h3>
					<div class="container">
						<table>
							<tr> <td>Subtotal:</td> <td>$$$</td> </tr> <!-- sum of product prices in cart-->
							<tr> <td>+ Tax:</td> <td>$</td></tr> <!-- tax is 6.25% in texas-->
							<tr> <td>+ Shipping:</td> <td>$$</td></tr> <!-- shipping free for orders over $35?-->
						</table>
					</div>
				<h4> Total : $$$</h4> <!-- add altogether-->
     		</div>
	  </div>
	<center><button class="buy-now"> <h2>Buy Now</h2></button></center>
    </body>
</html>