<!-- views/checkout.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
		  <link rel="icon" type="image/x-icon" href="/images/favicon.png">        
		  <title>LeeRoy's Checkout</title>

        <style>
			.column.main {
				float: left;
				width: 25%;
				padding: 20px; 
				margin-top: 3%;
				height: 300px;
				text-align: center;
				border-radius: 25px;
				background-color: #fafafa;
				margin-left: 15%;
			}
			.column.side {
				float: right;
				width: 25%;
				padding: 20px; 
				margin-top: 3%;
				height: 300px;
				background-color: #fafafa;
				display: block;
				text-align: center;
				border-radius: 25px;
				margin-right: 15%;
			}
			.row::after {
				content: "";
				display: table;
				clear: both;
			}
			table, td {
				border: none;
				border-spacing: 30px;
				margin-left: 50px;
			}
			.button.purchase {
			  background-color: #7a211f; 
			  border: none;
			  color: white;
			  padding: 15px 32px;
			  text-align: center;
			  display: inline-block;
			  font-size: 16px;
			  border-radius: 25px;
			  text-align: center;

			}
        </style>
    </head>
    <body>
		<center><div class="header" align: center></div></center>


      <div class="navbar">
        <span><a href="/">Home</a></span>
        <span><a href="/product">Products</a></span>
        <span><a href="/checkout">Checkout</a></span>
      </div>

      <div class="row">
			<div class="column main">
				<h2 >Customer Shopping Cart</h2>
					<div class="container">
						<table>
							<tr> <td>product 1</td> <td>$$$</td> </tr>
							<tr> <td>product 2</td> <td>$</td></tr>
							<tr> <td>product 3</td> <td>$$</td></tr>
						</table>
					</div>
			</div>
				
     		<div class="column side">
      		<h2>Checkout</h2>
					<div class="container">
						<table>
							<tr> <td>Subtotal:</td> <td>$$$</td> </tr>
							<tr> <td>+ Tax:</td> <td>$</td></tr>
							<tr> <td>+ Shipping:</td> <td>$$</td></tr>
						</table>
					</div>
				<h4> Total : $$$</h4>
     		</div>
	  </div>
	<center><div class="button purchase"> <h2>Buy Now</h2></div></center>
    </body>
</html>