<!-- views/checkout.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
		<link rel="icon" type="image/x-icon" href="/images/leeroyhead.png">
		<title>Checkout</title>
        <style>
			table, td {
				border: none;
				border-spacing: 7px;
				display: inline;
				padding: 10px;
				text-align: center;
			}
        </style>
		<script>
            function removeFromCart(item) {
                console.log(item);
                fetch('/removeFromCart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ item }),
                })
                .then(response => {
                    if(!response.ok) {
                        throw new Error(`HTTP Error! Status: ${response.status}`)
                    }
                })
            }
            function addToCart(item) {
                console.log(item);
                fetch('/addToCart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ item }),
                })
                .then(response => {
                    if(!response.ok) {
                        throw new Error(`HTTP Error! Status: ${response.status}`)
                    }
                })
            }
            function emptyCart() {
                console.log(cart);
                fetch('/emptyCart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ cart }),
                })
                .then(response => {
                    if(!response.ok) {
                        throw new Error(`HTTP Error! Status: ${response.status}`)
                    }
                })
			}

			function subtotal() {
				let subprice = 0
				cart.forEach(item => {
					item.price += subprice
				})
				return subprice
				}
			document.getElementById("subtotal").innerHTML = window.subtotal();

			function taxCalc(subprice) {
				return subprice * 0.0625
			}

			const tax = 5.99 * 0.0625
			document.getElementById("salestax").innerHTML = tax

			function totalCalc(subtotal, tax, shipping) {
				return subtotal + taxCalc(subtotal) + shipping
			}
		</script>
    </head>
    <body>
		<!-- <center><div class="header" align: center></div></center> -->
		<div class="header">
		    <button class="general" style="display: block;"><a href="/login" style="color: #fafafa;">Login</a> </button>
			<h1>LeeRoy's Pets 'N' More</h1>
			<h3>San Antonio's best for pets and pet needs!</h3>
		</div>
      <div class="navbar">
        <span><a href="/">Home</a></span>
        <span><a href="/product">Products</a></span>
        <span><a href="/checkout">Checkout</a></span>
		<!-- <span><a href="/login">Login</a></span> -->
      </div>
      <div class="row">
			<div class="column left" style="height: 350px; width: 25%;">
				<h2>Shopping Cart</h2>
					<div class="container">
						<table class="Cart">
							<% cart.forEach(item => { %>
							<tr>
								<td><span><button class="add-quantity" onclick="addToCart('<%=item.description %>')"></button> </span></td>
								<td><span><%= item.description %></span></td>
								<td><span>$<%= item.price %></span></td>
								<td><span><button class="remove-from-cart" onclick="removeFromCart('<%=item.description %>')"></button></span></td>
							</tr>
							<% }); %>
						</table>
						
						<!-- <table class="Cart">  <tr> <td>Pet Stuff</td> <td>$5.99</td><td>1<button class="add-quantity"></button> </td>    <td> <button class="remove-from-cart"></button></td></tr> </table> -->
						
					</div>
			</div>
				
     		<div class="column right" style="height: 350px; width: 25%;">
      		<h2>Order Summary</h2>
					<div class="container">
						<table>
						
							<tr> <td>Subtotal:</td> <td id="subtotal"></td> </tr> <!-- sum of product prices in cart-->
							<tr> <td>+ Tax:</td> <td></td> <td id="salestax"></td></tr> <!-- tax is 6.25% in texas-->
							<tr> <td>+ Shipping:</td> <td>$4.20</td></tr> <!-- shipping free for orders over $35?-->
						
						</table>
					</div>
				<h4 > Total : $13.93</h4> <!-- add altogether-->
				<button class="buy-now" onclick="cart.emptyCart()"> <h3>Buy Now</h3></button>
     		</div>
	  </div>
	
    </body>
</html>