<!-- views/checkout.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>LeeRoy's Checkout</title>
    </head>
    <body>
      <div>
      <h1 class="centered-title">Secure Checkout Page </h1>
      </div>
      <div class="navbar">
        <span><a href="/">Home</a></span>
        <span><a href="/product">Products</a></span>
        <span><a href="/checkout">Checkout</a></span>
    </div>
      <h2>here's your cart</h2>
      <ul id="product-list" style="list-style: none;">
        <li> product 1</li>
        <li> product 2</li>
      </ul>
      </body>
</html>
<!-- before next time, center the heading, change color of h2 and remove bullets-->