<!-- views/checkout.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>LeeRoy's Checkout</title>
    </head>
    <body>
      <div>
      <h1 class="centered-title">LeeRoy's Secure Checkout</h1>
      </div>
      <div class="navbar">
        <span><a href="/">Home</a></span>
        <span><a href="/product">Products</a></span>
        <span><a href="/checkout">Checkout</a></span>
    </div>
    <div>
      <h2>Customer Shopping Cart</h2>
    </div>
    <div class="container">
      <ul class="product-list">
      </ul>
    </div>
      </body>
</html>