<!-- views/index.ejs -->
<%- include('partials/head', { title: 'LeeRoy\'s Pets N\' More' }) %>



	  <div class="index-container">
		<span><button class="featured-product"></button></span>
		<span><button class="point-left-transparent"></button></span>
		<span>
			<div class="landing-title">Hello, world!</div>
            <div class="landing-text">This is our website! It's not done yet but we're proud of it.</div>
		</span>
		<div class="landing-flavor-text">FEATURED PRODUCT</div>
	  </div>
      <br>
	  <center>
	  <div class="index-container">
	      <span><button class="featured-product-small"></button></span>
		  <span><button class="featured-product-small"></button></span>
		  <span><button class="featured-product-small"></button></span>
		  <div class="landing-flavor-text2">Featured Product</div>
		  <div class="landing-flavor-text2">Featured Product</div>
		  <div class="landing-flavor-text2">Featured Product</div>
	  </div>
	  </center>

