<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/styles/styles.css">
		<link rel="icon" type="image/x-icon" href="/images/leeroyhead.png">
        <title>LeeRoy's Pets N' More</title>
    </head>
    <body>
	<div class="header">
		<button class="button" style="display: block;"><a href="/login" style="color: #fafafa;">Login</a> </button>
	</div>	
	<div class="header-text">
		<h3 style="text-align: center;">San Antonio's best for pets and pet needs!</h3>
	</div>

   <!-- <center><div class="header" align: center></div></center> -->

        <div class="navbar">
	    <span><a href="/">Home</a></span>
	    <span><a href="/product">Products</a></span>
	    <span><a href="/checkout">Checkout</a></span>
		<span><a href="/login">Login</a></span>
	</div>


	  <div class="index-container">
		<span><button class="featured-product"></button></span>
		<span><button class="point-left-transparent"></button></span>
		<span>
			<div class="landing-title">Hello, world!</div>
            <div class="landing-text">This is our website! It's not done yet but we're proud of it.</div>
		</span>
	  </div>
      <br>
	  <center>
	  <div class="index-container">
	      <span><button class="featured-product-small"></button></span>
		  <span><button class="featured-product-small"></button></span>
		  <span><button class="featured-product-small"></button></span>
	  </div>
	  </center>
      </body>

</html>