<!-- views/index.ejs -->
<%- include('partials/head', { title: 'LeeRoy\'s Plant Buddy' }) %>



	  <div class="index-container">
		<span>
			<button class="featured-product"></button>
			<div class="landing-flavor-text">Our Plant</div>
		</span>
		<span><button class="point-left-transparent"></button></span>
		<span>
			<div class="landing-title">Welcome to LeeRoy's Plant Buddy!</div>
            <div class="landing-text">This plant, residing in CSI 270T, is of [genus, species]. It's part of our Spring 2025 Senior Software project, but when it grows, perhaps it aspires to be the future mascot for the computer science department. Interested in helping it grow, or just want to monitor its progress? Check out the "Data" tab on this website!</div>
		</span>
		
	  </div>
      <br>
	  <center>
	  <div class="index-container">
	    <span>
			<button class="featured-product-small"></button>
			<div class="landing-flavor-text2">Genus, Species</div>
		</span>
	    <span>
			<button class="featured-product-small"></button>
			<div class="landing-flavor-text2">Genus, Species</div>
		</span>
		<span>
			<button class="featured-product-small"></button>
			<div class="landing-flavor-text2">Genus, Species</div>
		</span>
	  </div>
	  </center>