<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/styles.css">
        <title>LeeRoy's Pets N' More</title>
    </head>
    <body>

   <center><div class="header" align: center></div></center>


        <div class="navbar">
	    <span><a href="/">Home</a></span>
	    <span><a href="/product">Products</a></span>
	    <span><a href="/checkout">Checkout</a></span>
	</div>

        <div>        
	    <img src="../images/featuredproduct.png" alt="Featured Product"></img>
        </div>
	
	<hr>
        <div>
	    <h3>Login</h3>
	    <form action="/action_page.php">
            <label for="uname">Username:</label><br>
            <input type="text" id="uname" name="uname" value=""><br>
            <label for="passw">Password:</label><br>
            <input type="text" id="passw" name="passw" value=""><br><br>
            <input type="submit" value="Submit">

	    <h4>Sign Up</h4>
	    <form action="/action_page.php">
	    <label for="email">EMail:</label><br>
	    <input type="text" id="email" name="email" value=""><br>
	    <label for="uname">Username:</label><br>
            <input type="text" id="uname" name="uname" value=""><br>
	    <label for="passw">Password:</label><br>
	    <input type="text" id="passw" name="passw" value=""><br><br>
            <input type="submit" value="Submit">
	</div>
	<hr>
</form> 


      </body>
</html>
