<!-- views/index.ejs -->
<%- include('partials/head', { title: 'LeeRoy\'s Plant Buddy' }) %>

	<div class="row">
		<div class="column left"  style="height: 350px; width: 25%;">
			<img src="/images/plant test.png" alt="fake plant image" style="border-width: 15px; border-color: #5ab457; border-style: solid;height: 400px;">
		</div>
		<div class="column right" style="height: 350px; width: 40%;">
			<h1>Our Plant</h1>
		
		
				<div class="column left" style="height: 75px; width: 175px; background-color: transparent; margin-top: 0; text-align: left; font-weight: bold;">
					<p>Location: </p>
					<p>Genus, Species: </p>
					<p>Common Name:</p>
					<p>Size: </p>
					<p>Ideal Conditions: </p>
				</div>
				<div class="column right"  style="height: 75px; width: 175px; background-color: transparent;margin-top: 0;text-align: left;">
					<p>CSI 270T</p>
					<p>TBA, TBA</p>
					<p>Buddy</p>
					<p>TBA</p>
				</div>
				<!-- <span style="font-weight: bold;">Location: </span> <span>CSI 270T</span>
				<br><br>
				<span style="font-weight: bold;"> Genus, Species: </span> <span>TBA</span>
				<br><br> -->
				
				<!-- <span> Want to monitor progress? check out <a style="font-weight: bold;" href="/product">Data</a></span> -->
		</div>
						<div>
							
							<!-- <p>This plant, residing in CSI 270T, is of [genus, species]. It's part of our Spring 2025 Senior Software project, but when it grows, perhaps it aspires to be the future mascot for the computer science department. Interested in helping it grow, or just want to monitor its progress? Check out the <a style="font-weight: bold;" href="/product">Data</a> tab on this website!</p> -->
						</div>

		</div>
	</div>
	  <!-- <div class="index-container">
		<span class="plant-img"></span> -->
		<!-- <span><button class="point-left-transparent"></button></span> -->
		<!-- <span>
			<div class="landing-title">Hey buddies!</div>
            <div class="landing-text">This plant, residing in CSI 270T, is of [genus, species]. It's part of our Spring 2025 Senior Software project, but when it grows, perhaps it aspires to be the future mascot for the computer science department. Interested in helping it grow, or just want to monitor its progress? Check out the "Data" tab on this website!</div>
		</span>
	  </div> -->
      <br>
