<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/styles.css">
        <title>LeeRoy's Pets N' More</title>
    </head>
    <body>
		<center><div class="header" align: center></div></center>

        <div>
	</div>


        <div class="navbar">
	    <span><a href="/">Home</a></span>
	    <span><a href="/product">Products</a></span>
	    <span><a href="/checkout">Checkout</a></span>
		<span><a href="/login">Login</a></span>
	</div>

	<hr>
        <div class="form-format">
			</form>
			<h3>Login</h3>
			<form action="/action_page.php">
			<label for="uname">Username:</label><br>
			<input type="text" id="uname" name="uname" value=""><br>
			<label for="passw">Password:</label><br>
			<input type="text" id="passw" name="passw" value=""><br><br>
			<span><button class="submit-button">Submit</button></span>
			</form>
		</div>
		<div class="form-format"> 
		    <form>
			<h3>Sign Up</h3>
			<form action="/action_page.php">
			<label for="uname">Username:</label><br>
			<input type="text" id="uname" name="uname" value=""><br>
			<label for="passw">Password:</label><br>
			<input type="text" id="passw" name="passw" value=""><br><br>
			<span><button class="submit-button">Submit</button></span>
			</form>
	</div>
	<hr>

      </body>
</html>