<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/styles.css">
        <link rel="icon" type="image/x-icon" href="/images/leeroyhead.png">
        <title>LeeRoy's Pets N' More</title>
    </head>

	<!-- JAVASCRIPT -->
    <script>
		function addUser() {
			console.log('triggered addUser funcction in login.ejs');
			const new_username = document.getElementById('new_uname').value;
			const new_password = document.getElementById('new_passw').value;
			console.log(`new username: ${new_username} new password: ${new_password}`);

			fetch('/addUser', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({ username: new_username, password: new_password}),
			})
			.then(response => {
				console.log(response);
				if(!response.ok) {
					throw new Error(`HTTP Error! Status: ${response.status}`)
				}
			})
		}

		function verifyUser() {
			const hostname = window.location.href;
			const username = document.getElementById('uname').value;
			const password = document.getElementById('passw').value;
			// need to also grab the id somehow either by looking up or otherwise
			console.log(`username: ${username} password: ${password}`);
			console.log(hostname);

			fetch('verifyUser', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({ username: username, password: password}),
			})
			.then(response => response.json())
			.then(data => {
				if(data === 'registered') {
					console.log(hostname);
					window.location.href = `http://localhost:3000/product`;
				} else if(data === 'admin') {
					window.location.href = `http://localhost:3000/product-admin`;
				} else {
					console.log('not valid');
				}
			})
		}
	</script>
	<!-- END JAVASCRIPT -->

    <body>
        <div class="header">
        <button class="button" style="display: block;"><a href="/login" style="color: #fafafa;">Login</a> </button>
        </div>	
        <div class="header-text">
                <h3 style="text-align: center;">San Antonio's best for pets and pet needs!</h3>
        </div>


        <div class="navbar">
	    <span><a href="/">Home</a></span>
	    <span><a href="/product">Products</a></span>
	    <span><a href="/checkout">Checkout</a></span>
		<span><a href="/login">Login</a></span>
	</div>

<br><br>
        <center><div class="form-format">
			<h3>Login</h3>
			<!-- <form action="/action_page.php"> -->
			<label for="uname">Username:</label>
			<input type="text" id="uname" name="uname" value=""><br>
			<label for="passw">Password:</label>
			<input type="text" id="passw" name="passw" value=""><br><br>
			<span><button class="button" onclick="verifyUser()">Submit</button></span><br><br>
		</div></center>
                <br><br>
		<center><div class="form-format"> 
			<h3>Sign Up</h3>
			<label for="new_uname">Username:</label>
			<input type="text" id="new_uname" name="new_uname" value=""><br>
			<label for="new_passw">Password:</label>
			<input type="text" id="new_passw" name="new_passw" value=""><br><br>
			<span><button class="button" onclick="addUser()">Submit</button></span><br><br>
	</div></center>


      </body>
</html>