<!-- products/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>LeeRoy's Pets N' More Products</title>
    </head>
    <body>
        <div>
            <h1 class="centered-title">Product Page</h1>
            <h2 class="centered-title">Check out all our products</h2>    
        </div>
        <div class="container">
            <ul class="product-list">
                <li>Pets</li>
                <li>Pet Food</li>
                <li>Pet Stuff</li>
            </ul>
        </div>
      </body>
</html>