<!-- products/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
		<link rel="icon" type="image/x-icon" href="/images/leeroyhead.png">
        <title>Products</title>
        <script>
            function addToCart(product) {
                console.log(product);
                fetch('/addToCart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ product }),
                })
                .then(response => {
                    if(!response.ok) {
                        throw new Error(`HTTP Error! Status: ${response.status}`)
                    }
                })
            }
        </script>
    </head>
    <body>
        <div class="header">
		    <button class="general" style="display: block;"><a href="/login" style="color: #fafafa;">Login</a> </button>
            <h1>LeeRoy's Pets 'N' More</h1>
            <h3>San Antonio's best for pets and pet needs!</h3>
        </div>

		<!-- <center><div class="header" align: center></div></center> -->
        <div class="navbar">
            <span><a href="/">Home</a></span>
            <span><a href="/product">Products</a></span>
            <span><a href="/checkout">Checkout</a></span>
		    <!-- <span><a href="/login">Login</a></span> -->

        </div>
        <div class="container" style="margin-top: 3%;">
            <ul class="product-list">
                <% products.forEach(product => { %>
                    <li class="product-list-item">
                        <span class="product-text"><%= product.description %></span>
                        <span class="price-text">$<%= product.price %></span>
                        <span>Add to cart<button class="add-to-cart" onclick="addToCart('<%=product.description %>')"></button></span>
                    </li>
                <% }); %>
            </ul>
        </div>
      </body>
</html>
