body {
  background-color: #333;
  color: black;
  margin: 0;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}
.greybox {
  background: grey;
  flex: 1;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

.greybox-container {
  display: flex;
  flex-direction: row;
}

.new-item-form {
  text-align: center;
}

.new-item-form input {
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.new-item-form button {
  background: red;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.new-item-form button:hover {
  background: darkred;
}
