a {
    text-decoration: none;
    color: #828488;
}

body {
    background-color: #333;
    color: #331211;
    margin: 0;
}

.centered-title {
    text-align: center;
}

.header{
    background-image: url('../images/leeroy-banner.jpg');
    border: none;
    cursor: pointer;
    padding: 10;
    width: 630px;
    height: 200px;
    background-size: cover;
    display: inline-block;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    background-color: #7a211f;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    padding-top: 15px;
    padding-bottom: 12px;
}

.navbar a {
	color: #fafafa;
}

.navbar a:hover {
    color: #d27763;
}

.price-text {
    text-align: left;
}

.product-list {
    list-style-type: none;
}

.product-list li:nth-child(even) {
    background-color:#798d46;
    color: #35373b;
    margin: 10px 0;
    padding: 15px;
}

.product-list li:nth-child(odd) {
    background-color: #5a8b9f;
    color: #35373b;
    margin: 10px 0;
    padding: 15px;
}

.product-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.product-text {
    text-align: right;
}

.add-to-cart {
    background-image: url('cart-fill.svg');
    border: none;
    cursor: pointer;
    padding: 10;
    width: 30px;
    height: 30px;
    background-size: cover;
    display: inline-block;
}

.buy-now {
	background-color: #7a211f; 
	color: #fafafa;
	padding: 15px 32px;
	display: inline-block;
	border-radius: 25px;
	text-align: center;
	border: none;
	cursor: pointer;
}
.buy-now:hover {
	background-color: #4d1413;
}
