a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #fafafa;
    color: black;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.centered-title {
    text-align: center;
}

/* .header{
    background-image: url('../images/leeroy-banner.jpg');
    border: none;
    cursor: pointer;
    padding: 10;
    width: 630px;
    height: 200px;
    background-size: cover;
    display: inline-block;
} */

.header {
	padding: 15px;
  	text-align: center;
  	background: #7a211f;
	color: #fafafa
}
.container {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    background-color: #7a211f;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    padding-top: 15px;
    padding-bottom: 12px;
}

.navbar a {
	color: #fafafa;
}

.navbar a:hover {
    color: #d27763;
}

.price-text {
    text-align: left;
}

.product-list {
    list-style-type: none;
}

.product-list li:nth-child(even) {
    background-color:#c7c9ca; 
    color: #35373b;
    margin: 10px 0;
    padding: 15px;
}

.product-list li:nth-child(odd) {
    background-color: #9a9c9e;
    color: #35373b;
    margin: 10px 0;
    padding: 15px;
}

.product-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.product-text {
    text-align: right;
}

.add-to-cart {
    background-image: url('cart-fill.svg');
    border: none;
    cursor: pointer;
    padding: 10;
    width: 30px;
    height: 30px;
    background-size: cover;
    display: inline-block;
    background-color: transparent;
    opacity: 0.5;
    margin-left: 10px;
    margin-right: 2px;
}
.add-to-cart:hover{
    opacity: 1.0;
}

.buy-now {
	background-color: #828488; 
	color: #fafafa;
	padding: 3px 20px;
    margin: 7%;
	display: inline-block;
	border-radius: 25px;
	text-align: center;
	border: none;
	cursor: pointer;
}
.buy-now:hover {
	background-color: #5d5f62;
}

.remove-from-cart {
    background-image: url('../images/trash-closed.png');
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5;
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline;
    opacity: 0.5;
}
.remove-from-cart:hover{
    opacity: 1.0;
    }
.add-quantity {
    background-image: url('../images/plus.png');
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5;
    width: 15px;
    height: 15px;
    background-size: cover;
    display: inline;
    opacity: 0.5;
}
.add-quantity:hover {
    opacity: 1.0;
}

.column {
    width: 25%;
    padding: 15px; 
    margin-top: 3%;
    /* height: 350px; */
    background-color: #c7c9ca;
    display: block;
    text-align: center;
    border-radius: 25px;
}
.column.left {
    float: left;
    margin-left: 15%;
}
.column.right {
    float: right;
    margin-right: 15%;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}

.account {
	background-color: #828488; 
	color: #fafafa;
	display: inline-block;
	border-radius: 25px;
	text-align: center;
	border: none;
	cursor: pointer;
}
.account:hover{
	background-color: #5d5f62;
}
