a {
    text-decoration: none;
    color: #fafafa;
}

body {
    background-color: #e7eaeb;
    color: #35373b;
    margin: 0;
}

.centered-title {
    text-align: center;
    margin: 1.5%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    background-color: #7a211f;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    padding-top: 15px;
    padding-bottom: 12px;
}

.navbar:hover {
    background: #541413;
}

.price-text {
    text-align: left;
}

.product-list {
    list-style-type: none;
}

.product-list li:nth-child(even) {
    background-color: #800000;
    color: #35373b;
    margin: 10px 0;
    padding: 15px;
}

.product-list li:nth-child(odd) {
    background-color: #b6533e;
    color: #35373b;
    margin: 10px 0;
    padding: 15px;
}

.product-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.product-text {
    text-align: right;
}

.add-to-cart {
    background-image: url('cart-fill.svg');
    border: none;
    cursor: pointer;
    padding: 10;
    width: 30px;
    height: 30px;
    background-size: cover;
    display: inline-block;
}